<script type="text/javascript">
  var checkBoxes = document.querySelectorAll(".form-check-input");
  var form = document.querySelector('form');
  
  for (const check of checkBoxes) {
  check.addEventListener( 'change', function() {
    Rails.fire(form, 'submit');
  });
  }
</script>



<!-- https://mixandgo.com/learn/how-to-use-link_to-in-rails -->
<body>
    <div class="main_page">
        <%= render "layouts/header" %>
        

        
        <% if current_user == @user && current_user.profile_created == false%>
        <!-- Work on -- needs work thats for sure -->
            <%= render "partials/no_access" %>
        <% else%>
            <div class="m_p">
                <%#= render "main/partials/sort"%> 
                <%#= render "main/partials/filter"%> 
                <!-- This shows the feed -->
                <%#= render "main/partials/show", locals: { feed: @feed } %>
                
                <%#= @test.each do |i| %>
                    <%#= i.age %>
                <%# end %>
                <!-- <ul class="feed_nav">
                    <li>
                        <%= link_to  "Suggestions" %>
                    </li>
                    <li>
                        <%= link_to "All Users" %>
                    </li>
                </ul> -->


                <br>
                
                <div class="sort_con">
                    
                    <!-- <select>
                        <option value="default">
                            Age
                        </option>
                        <option value="ratings">
                            Ratings - High to Low
                        </option>
                    </select> -->


                    <!-- <%= form_tag(:sort_users, url: sort_users_path) do  %>
                        <%= label_tag "Sort:" %>
                        <%= select_tag :reorder_by, options_for_select([ ["Age", "age"], ["Ratings - High to Low", "rating"], ["Nearest", "closest"], ["Farthest", "further"], ["Most in Common", "most"], ["Least in Common", "least"] ], "Sort Users"),
                            {onchange: "this.form.submit();"}  %>
                        <%#onchange: 'Rails.fire(this.form, "submit")'
                       <%# {:onchange=> "alert('Hello' + $(this).val());"}  %>
                    <% end %> -->
                    
                    <%# https://stackoverflow.com/questions/48638747/remove-rails-authenticity-token-from-view %>
                    <%# ?color=black,white %>
                    <%= link_to "Male", request.params.merge(gender: "Male") %>
                    <%= link_to "Female", request.params.merge(gender: "Female") %>
                    <%= link_to "Other", request.params %>
                    <%= button_to "Test", request.params.except(:authenticity_token).merge(test: "test") %>
                    <%= button_to "Test1", request.params.except(:authenticity_token).merge(test: "true1") %>

                    <% Interest.all.each do |interest| %>
                        <li>
                            <%= button_to interest.name, request.params.except(:authenticity_token).merge(interests: interest.name), {name: "interests[]"} %>
                            <%= request.params.merge({:interest => interest.name}) %>
                        </li>
                    <% end %>


                    <% if @gender %>
                        <%= @gender%>
                    <% end %>
                    <% if @interest %>
                        <%= @interest%>
                    <% end %>
                    <%= form_tag url: sort_users_path, method: :get do |f| %>
                        <%= label_tag "Sort:" %>
                        <%= select_tag :by, options_for_select([
                            ["Featured", "default"],
                            ["Age", "age"],
                            ["Ratings - High to Low", "rating"],
                            ["Nearest", "closest"],
                            ["Farthest", "further"], 
                            ["Most in Common", "most"], 
                            ["Least in Common", "least"]],
                            params[:by]), 
                            {class: 'form-control', :onchange => "this.form.submit()"} %>

                    <% end %> 

                    </br>
                    ----------------------------------------
                    
                    <%# <div id="slider"></div> %>
                    <%= form_for :filter, :html => { id: "filter"}, url: main_path, method: :get do |thing_form| %>
                        <%= thing_form.label "Interests"%>
                        <%= thing_form.collection_check_boxes :interest_tags, Interest.all, :name, :name do |b| %>
                            <li>
                                <%= b.check_box(class: "box") %>
                                <%= b.label(class: "text") %>
                            </li>
                        <% end %>


                        <%= thing_form.label "Distance:" %>
                        <div id="distance_slider"></div>
                        <%= thing_form.label "0", class: "left_inf" %>
                        <%# <%= thing_form.hidden_field :near %> 
                        <%= thing_form.text_field :farthest, class: "right_inf" %>
                        <%= thing_form.hidden_field :far %>
                        <br>


                        <%= thing_form.label "Age:" %>
                        <div id="age_slider"></div>
                        <%= thing_form.text_field :youngest, class: "left_inf" %>
                        <%= thing_form.hidden_field :young %>
                        <%= thing_form.text_field :oldest, class: "right_inf" %>
                        <%= thing_form.hidden_field :old %>
                        <br>


                        <%= thing_form.label "Rating:" %>

                        <div id="rating_slider"></div>
                        
                        <%= thing_form.text_field :lowest, class: "left_inf" %>
                        <%= thing_form.hidden_field :low %>
                        <%= thing_form.text_field :highest, class: "right_inf"%>
                        <%= thing_form.hidden_field :high %>
                        <br>

                        <%= thing_form.submit "Apply", class: "sub_fil_button" %>

                    <% end %>

                    

                    ----------------------------------------
                   
                    
                    <%= link_to "Reset options", main_path %>
                    <%# <%= form_for @profile, url: sort_users_path do |f| %> %>
                        <%# { prompt: 'Select Option' }) I mean this isnt really needed %>
                        <%# options_for_select([["Age", "default"], ["Ratings - High to Low", "ratings"]])%>
                        <%# <%= f.label "Sort:" %>
                        <%# <%= f.select(:id, options_for_select([["Age", "default"], ["Ratings - High to Low", "ratings"], ["Nearest", "closest"], ["Farthest", "further"], ["Most in Common", "most"], ["Least in Common", "least"]]), {}, {onchange: "this.form.submit();" })%> %>
                        <%#= f.label "Age:" %>
                        <%#= f.collection_select :id, Profile.order('age DESC'), :id, "age" %>
                        <%#= f.select(:id, Profile.all.pluck(:first_name, :id)) %>
                        <%#= f.select :month, options_for_select(Profile.age)  %>
                        <%#= select_tag (:profile, options_for_select([["Age", "default"], ["Ratings - High to Low", "ratings"], ["Nearest", "closest"], ["Farthest", "further"], ["Most in Common", "most"], ["Least in Common", "least"]]), { :class => 'my_style_class' } ) %>
                        
                        <%#= f.collection_select(:user_name, Profile.all, :id, "age" ) %>

                        <%#= f.select "Age", options_for_select("Desc", 'Rating') %>
                    <%# <% end %> 
                </div>
                <div class='test_res'>
                    <h1> All Users </h1>
                    <%= @all.length %>
                    <% @all.each do |person| %>
                        <ul>
                            <li>
                                <%= link_to person.user_name %>
                            </li>
                        </ul>
                    <% end%>
                    <%#= render "main/partials/profile_card", locals: {person: @p} %>
                </div>
        <% end %>
    </div>
</body>
