<script type="text/javascript">
  var checkBoxes = document.querySelectorAll(".form-check-input");
  var form = document.querySelector('form');
  
  for (const check of checkBoxes) {
  check.addEventListener( 'change', function() {
    Rails.fire(form, 'submit');
  });
  }
</script>



<!-- https://mixandgo.com/learn/how-to-use-link_to-in-rails -->
<body>
    <div class="main_page">
        <%= render "layouts/header" %>
        

        
        <% if current_user == @user && current_user.profile_created == false%>
        <!-- Work on -- needs work thats for sure -->
            <%= render "partials/no_access" %>
        <% else%>
            <div class="m_p">
                <%#= render "main/partials/sort"%> 
                <%#= render "main/partials/filter"%> 
                <!-- This shows the feed -->
                <%#= render "main/partials/show", locals: { feed: @feed } %>
                
                <%#= @test.each do |i| %>
                    <%#= i.age %>
                <%# end %>
                <!-- <ul class="feed_nav">
                    <li>
                        <%= link_to  "Suggestions" %>
                    </li>
                    <li>
                        <%= link_to "All Users" %>
                    </li>
                </ul> -->


                <br>
                
                <div class="sort_con">
                    
                    <!-- <select>
                        <option value="default">
                            Age
                        </option>
                        <option value="ratings">
                            Ratings - High to Low
                        </option>
                    </select> -->

                    <!-- This need to merge with the url request.params.merge(sort: "NAME") -->
                    <!-- <%= form_tag(:sort_users, url: sort_users_path) do  %>
                        <%= label_tag "Sort:" %>
                        <%= select_tag :reorder_by, options_for_select([ ["Age", "age"], ["Ratings - High to Low", "rating"], ["Nearest", "closest"], ["Farthest", "further"], ["Most in Common", "most"], ["Least in Common", "least"] ], "Sort Users"),
                            {onchange: "this.form.submit();"}  %>
                        <%#onchange: 'Rails.fire(this.form, "submit")'
                       <%# {:onchange=> "alert('Hello' + $(this).val());"}  %>
                    <% end %> -->


                    
                    <%# https://stackoverflow.com/questions/48638747/remove-rails-authenticity-token-from-view %>
                    <%# ?color=black,white %>


                    

                    <%= form_tag main_path, :method => "get", enforce_utf8: false  do %>
                        <%= label_tag "Sort:" %>
                        <%= select_tag :sort, options_for_select([ ["Age", "age"],
                            ["Ratings - High to Low", "rating"],
                            ["Nearest", "closest"],
                            ["Farthest", "further"],
                            ["Most in Common", "most"],
                            ["Least in Common", "least"]],
                            params[:sort]),
                            {onchange: "this.form.submit();"} %>
                        <% unless params.nil? %>
                                <% request.query_parameters.except(:sort).each do |key,value| %>
                                    <%= hidden_field_tag key, value %>
                                <% end %>
                        <% end %>
                    <% end %>

                    <!-- Worked before -->
                    <%= form_tag main_path, :method => "get", enforce_utf8: false  do %>
                        <%= label_tag "Test:" %>
                        <%# if params.nil? %>
                        <%= select_tag :per_page, options_for_select([10,20,30], params[:per_page].to_i), :onchange => "this.form.submit()" %>
                        <% unless params.nil? %>
                                <% request.query_parameters.except(:per_page).each do |key,value| %>
                                    <%= hidden_field_tag key, value %>
                                <% end %>
                        <% end %>
                    <% end %>          


                    <div class ="testing">
                        <%= button_to request.params.except(:authenticity_token).merge(gender: "Male") do %>
                                <p>"Male"</p>
                                <%= hidden_field_tag :per_page, "Yay" %>

                        <% end %>
                        <%= link_to "Female", request.params.merge(gender: "Female") %>
                        <%= link_to "Other", request.params %>
                        <%= link_to "Test", request.params.except(:authenticity_token).merge(test: "test") %>
                        <%= link_to "Test1", request.params.except(:authenticity_token).merge(test: "test1") %>
                        <!-- This works but errors when there is no params in uri -->
                        <%= link_to "Testing Code", request.params.except(:authenticity_token).merge({test: ("Testing Code" || params[:test])}) %>
                        <%= link_to "Testing Code2", request.params.except(:authenticity_token).merge({test: (params[:test] ? ([params[:test], "test2"]) : "test2" )}) %>

                        <%# <%= link_to "Testing Code3", request.params.except(:authenticity_token).merge({test: (params[:test] ? params[test] : "Testing Code" )}) %> %>

                        <%# { :genre_ids => (params[:genre_ids] | [genre[0].id]) } %>

                        <% if @interests %>
                            <%= params[:interests] %>
                            <% @interests.each do |i|%>
                                <%= link_to i %>
                            <% end %>
                            <%#= button_to "Clear all", main_path(params.delete{}) %>
                        <% end %>
                    
                        <%= link_to "Remove", request.params.except(:gender, :interests) %>

                    </div>

                    <h3> Filter by: </h3>
                    <span class="material-icons">keyboard_arrow_up</span>
                    <div class="fil_con">
                        <%= button_tag "Rating", type: 'choice', id: "choice_collection" do %>
                            <%= "Interests" %>
                            <i class="material-icons">keyboard_arrow_down</i>
                        <% end %>
                        <div class="filter_collection_panel">
                            <% Interest.all.each do |interest| %>
                                <li>

                                <%# https://stackoverflow.com/questions/21833039/rails-how-do-i-merge-or-append-a-value-to-an-array-within-the-url %>
                                    <%# <%= link_to genre[0].title, pins_path( params.merge({ :genre_ids => (params[:genre_ids] + [genre[0].id]) }) )  %>
                                    
                                    <%# <%= link_to "Testing Code", request.params.merge(interests: "Testing Code") %>
                                    
                                    <%# <%= link_to interest.name, request.params.except(:authenticity_token).merge(interests: interest.name), {name: "interests[]"} %>
                                    <%# unless @interests.nil %>
                                        <%# <%= button_to interest.name, request.params.except(:authenticity_token, ).merge({interests: (params[:interests] ? (params[:interests] + ",#{interest.name}") : "#{interest.name}" )}), {form_class: 'data_fil_button', class: 'input_data'} %> 
                                        <%#= button_to "#{interest.name} X", request.params.except(:authenticity_token, ).merge({interests: (params[:interests] ? (params[:interests] - "#{interest.name}") : "#{interest.name}" )}), {form_class: 'data_fil_button', class: 'input_data'} %>
                                    <% if @interests and @interests.include? interest.name  %>
                                            <% if @interests.length != 1 %>
                                                <!-- this does not work properly -->
                                                <%= button_to request.params.except(:authenticity_token).merge({interests: @interests.delete("#{interest.name}") }), {form_class: 'data_fil_button', class: 'input_data'} do %>
                                                    <span><p><%= interest.name %></p> <i class="material-icons">close</i> </span>
                                                <% end %>
                                            <% else %>
                                                <%= button_to request.params.except(:authenticity_token, :interests), {form_class: 'data_fil_button', class: 'input_data'} do %>
                                                    <span><p><%= interest.name %></p> <i class="material-icons">close</i> </span>
                                                <% end %> 
                                            <% end %>
                                    <% else %>
                                        <%#= button_to interest.name, request.params.except(:authenticity_token).merge({interests: (params[:interests] ? (params[:interests] + "/#{interest.name}") : "#{interest.name}" )}), {form_class: 'data_fil_button', class: 'input_data'} %>
                                        <!-- Make both p and i inline block with float right on i -->
                                        <%= button_to request.params.except(:authenticity_token, :interests).merge(interests: (params[:interests] ? (params[:interests] + "/#{interest.name}") : "#{interest.name}" )), {form_class: 'data_fil_button', class: 'input_data'} do %>
                                            <%= interest.name %>
                                        <% end %>
                                    <% end %>
                                </li>
                            <% end %>
                        </div>
                    </div>


                   <div class="fil_con">
                        <%= button_tag "Gender", type: 'choice', id: "choice_collection" do %>
                            <%= "Gender" %>
                            <i class="material-icons">keyboard_arrow_down</i>
                        <% end %>
                        <div class="filter_collection_panel">
                            <li>
                                <%= button_to "Male", request.params.except(:authenticity_token).merge(gender: "Male"), {form_class: 'data_fil_button', class: 'input_data'}%>
                            </li>
                            <li>
                                <%= button_to "Female", request.params.except(:authenticity_token).merge(gender: "Female"), {form_class: 'data_fil_button', class: 'input_data'} %>
                            </li>
                        </div>
                    </div>

                    <div class="fil_con">
                        <%= button_to "Distance" %>
                        <div class="filter_collection_panel">
                            10 miles
                            20 miles
                            30 miles
                            40 miles
                            50 miles
                        </div>
                    </div>

                    <div class="fil_con">
                        <%= button_tag "Rating" do %>
                            <%= "Rating" %>
                            <i class="material-icons">keyboard_arrow_down</i>
                        <% end %>
                        <div class="filter_collection_panel">
                            0 to 2
                            3 to 5
                            5 to 7
                            7 to 9
                            9 to 10
                        </div>
                    </div>

                    <div class="fil_con">
                        <%= button_to "Age" %>
                        <div class="filter_collection_panel">
                            18 to 25
                            26 to 35
                            36 to 45
                            46 to 55
                            56 to 65
                            66 to 90
                        </div>
                    </div>
                   
                    <!-- <%= form_tag url: sort_users_path, method: :get do |f| %>
                        <%= label_tag "Sort:" %>
                        <%= select_tag :by, options_for_select([
                            ["Featured", "default"],
                            ["Age", "age"],
                            ["Ratings - High to Low", "rating"],
                            ["Nearest", "closest"],
                            ["Farthest", "further"], 
                            ["Most in Common", "most"], 
                            ["Least in Common", "least"]],
                            params[:by]), 
                            {class: 'form-control', :onchange => "this.form.submit()"} %>

                    <% end %> 

                    </br>
                    ----------------------------------------
                    
                    <%# <div id="slider"></div> %>
                    <%= form_for :filter, :html => { id: "filter"}, url: main_path, method: :get do |thing_form| %>
                        <%= thing_form.label "Interests"%>
                        <%= thing_form.collection_check_boxes :interest_tags, Interest.all, :name, :name do |b| %>
                            <li>
                                <%= b.check_box(class: "box") %>
                                <%= b.label(class: "text") %>
                            </li>
                        <% end %>


                        <%= thing_form.label "Distance:" %>
                        <div id="distance_slider"></div>
                        <%= thing_form.label "0", class: "left_inf" %>
                        <%# <%= thing_form.hidden_field :near %> 
                        <%= thing_form.text_field :farthest, class: "right_inf" %>
                        <%= thing_form.hidden_field :far %>
                        <br>


                        <%= thing_form.label "Age:" %>
                        <div id="age_slider"></div>
                        <%= thing_form.text_field :youngest, class: "left_inf" %>
                        <%= thing_form.hidden_field :young %>
                        <%= thing_form.text_field :oldest, class: "right_inf" %>
                        <%= thing_form.hidden_field :old %>
                        <br>


                        <%= thing_form.label "Rating:" %>

                        <div id="rating_slider"></div>
                        
                        <%= thing_form.text_field :lowest, class: "left_inf" %>
                        <%= thing_form.hidden_field :low %>
                        <%= thing_form.text_field :highest, class: "right_inf"%>
                        <%= thing_form.hidden_field :high %>
                        <br>

                        <%= thing_form.submit "Apply", class: "sub_fil_button" %>

                    <% end %> -->

                    

                    ----------------------------------------
                   
                    
                    <%= link_to "Reset options", main_path %>
                    <%# <%= form_for @profile, url: sort_users_path do |f| %> %>
                        <%# { prompt: 'Select Option' }) I mean this isnt really needed %>
                        <%# options_for_select([["Age", "default"], ["Ratings - High to Low", "ratings"]])%>
                        <%# <%= f.label "Sort:" %>
                        <%# <%= f.select(:id, options_for_select([["Age", "default"], ["Ratings - High to Low", "ratings"], ["Nearest", "closest"], ["Farthest", "further"], ["Most in Common", "most"], ["Least in Common", "least"]]), {}, {onchange: "this.form.submit();" })%> %>
                        <%#= f.label "Age:" %>
                        <%#= f.collection_select :id, Profile.order('age DESC'), :id, "age" %>
                        <%#= f.select(:id, Profile.all.pluck(:first_name, :id)) %>
                        <%#= f.select :month, options_for_select(Profile.age)  %>
                        <%#= select_tag (:profile, options_for_select([["Age", "default"], ["Ratings - High to Low", "ratings"], ["Nearest", "closest"], ["Farthest", "further"], ["Most in Common", "most"], ["Least in Common", "least"]]), { :class => 'my_style_class' } ) %>
                        
                        <%#= f.collection_select(:user_name, Profile.all, :id, "age" ) %>

                        <%#= f.select "Age", options_for_select("Desc", 'Rating') %>
                    <%# <% end %> 
                </div>
                <div class='test_res'>
                    <h1> All Users </h1>
                    <%= @all.length %>
                    <% @all.each do |person| %>
                        <ul>
                            <li>
                                <%= link_to person.user_name %>
                            </li>
                        </ul>
                    <% end%>
                    <%#= render "main/partials/profile_card", locals: {person: @p} %>
                </div>
        <% end %>
    </div>
</body>
