
<body>
  <div class="edit_page">
          <%= render "layouts/header" %>
          <% if current_user == @user%>
            <div class="m_p">
                <div class="form_section">

                  <ul class="nav">
                    <li>
                        <%= link_to " ", remote: true do %>
                          <p> Edit Profile </p>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to " ", remote: true do %>
                          <p> Edit Photos <p>
                        <% end %>
                    </li>
                  </ul>
                  <!-- <div id="user_forms"> -->
                  <%= render "profiles/forms/edit_profile"%>
                  <%= render "profiles/forms/edit_photos"%>

                          
                                    <%#= b.label { b.check_box + b.text} %>
                                    <%# https://makandracards.com/makandra/32147-rails-4-introduced-collection_check_boxes%>
                                    <%# Customizing the output
                                    You can customize the output by passing a block. The block will be called with a special builder object that has a handful of special methods. See the complex example below.
                                      form.collection_check_boxes :author_ids, Author.all, :id, :name_with_initial do |b|
                                        b.label { b.check_box }
                                        # or
                                        b.label(class: "my-#{ b.object.class.name.parameterize }", 'data-value': b.value) { b.check_box + b.text }
                                      end%>
                  
                  <!-- </div> -->
                  
                </div>
              </div>
              
            </div>
            
            

          
            
            
              
          <% end %>
      </div>
  </div>
</body>

<%# https://stackoverflow.com/questions/24266047/render-to-a-html-page-in-the-same-page-on-click-of-a-button-in-ruby-on-rails-in%>
<%# https://stackoverflow.com/questions/35899433/how-to-render-partial-on-the-same-page-after-clicking-on-link-to-with-ajax%>
<%# https://coderwall.com/p/kqb3xq/rails-4-how-to-partials-ajax-dead-easy%>