<body>

    <div class="profile_page">
        <% if @user.profile_created == false %>
          <%= render partial: "profiles/partials/basicinfo", locals: { user: @user } %>
        <% end %>
        
        <% if current_user == @user %>
          <% if @user.profile_created == false %>
            <%= render partial: "profiles/forms/noprofileform", locals: { profile: @profile } %>
          <% else%>
            <%= render partial: "profiles/partials/profile", locals: { profile: @profile } %>
          <% end %>
        <% else %>
          <% if @user.profile_created == false %>
            <%= render partial: "profiles/partials/noshow" %>
          <% else %>
            <%= render partial: "profiles/partials/profile", locals: { profile: @profile } %>
          <% end %>
        <% end %>
    </div>
</body>

        