<body>

    <div class="profile_page">
        <% if @profile.has_activity == false %>
          <%= render partial: "profiles/partials/basicinfo", locals: { profile: @user } %>
        <% end %>
        
        <% if current_user.id == @profile.user_id %>
          <% if @profile.has_activity == false %>
            <%= render partial: "profiles/forms/noprofileform", locals: { profile: @profile } %>
          <% else%>
            <%= render partial: "profiles/partials/profile", locals: { profile: @profile } %>
          <% end %>
        <% else %>
          <% if @profile.has_activity == false %>
            <%= render partial: "profiles/partials/noshow" %>
          <% else %>
            <%= render partial: "profiles/partials/profile", locals: { profile: @profile } %>
          <% end %>
        <% end %>
    </div>
</body>

        