



<div class="main_page">
        <%= render "layouts/header" %>
        

        
        <% if current_user == @user && current_user.profile_created == false%>
        <!-- Work on -- needs work thats for sure -->
            <div class="welcome">
                <p>Welcome <%= current_user.user_name %>! You aren't seeing any matches because you need to Create your profile first! Head to your profile, linked above to finish it and start looking for that right cup of tea!<p>
            </div>
        <% else%>
            <div class="m_p">
                
                    
            
                <!-- Work on -- A better return if empty -->
                <% if @feed.empty? %>
                    <%= render "search/error_partials/nothing_found" %>
                <% else %>
                    <!-- Sorting results -->
                    <%= render "main/partials/sort"%> 
                    <%= render "main/partials/filter"%>
                    <!-- This shows the feed -->
                    <%= render "main/partials/profile_card", locals: {person: @feed} %>
                <% end %>
                </div>
            
        <% end %>