<body>
    <div class="con_page">
    <%= render "layouts/header" %>
        <div class="message_nav">
            <div id="mess_ban">
                <h1> Chats </h1>
            </div>
            <%#= link_to "Test", test_path, remote: true %>
            
            <%# if @has_chats == 1 %>
                <ul class="user_mess_list">
                    <% @convos.each_with_index do |chat, i| %>
                        <li> 
                            <%= link_to room_path(chat.id), data: {conversation_id: chat.id} do %>
                                <div class="img_av">
                                    <%= image_tag @inverse_users[i].profile.avatar.url(:thumb) %>
                                </div>
                                <div class="conv_ino_con">
                                    <p><%= @inverse_users[i].first_name %></p>
                                </div>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
                <%= render "conversations/empty_list" %>
        </div>
        <div class="mess_con">

            
        </div>
    </div>

</body>