<div class="user_head">
    <div class="b_back">
        <%=link_to '<i class="material-icons">chevron_left</i>'.html_safe, :back %>
    </div>
    <div class="av">
        <% if @profile.avatar.exists? %>
            <!-- PUT AVATAR HERE -->
            <div class="avatar">
                <%= image_tag @profile.avatar.url(:medium) %>
            </div>
        <% end %>
    </div>
    <div class="u_n">
    
        <h1><%= @profile.first_name.capitalize %><h1>
        <%= @profile.age %>
        <h3><%= @profile.user_name.capitalize%></h3>
        <p><%= @profile.gender.capitalize %> / <%= @pref %></p>
    </div>
    
    <div class="u_l">
        <% if current_user.profile_created == true %>
            <% if current_user != @user %>
                <ul>
                    <%# A "block" feature would need to checked from a table???%>
                    <li>
                        <% if @disable == true %>

                        <% else %>
                            <div class="likes">
                                <%= render partial: "likes/button", locals: { profile: @profile } %>
                            </div>
                        <% end %>
                    </li>
                    <li>
                        <div class="blocks">
                            <%= render partial: "blocks/block_button", locals: { profile: @profile } %>
                        </div>
                    </li>
                    <li>
                        <div class="flag">
                            <%= render partial: "profiles/partials/flag_profile", locals: { profile: @profile } %>
                        </div>
                    </li>
                </ul>
            <% else %>
                <div class="ed_pr">
                    <%= button_to edit_profile_path, method: :get do %>
                        <i class="material-icons">create</i>
                        <span><p>Edit Profile</p></span>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>