
<body>
  <div class="settings_page">
    <%= render "layouts/header" %>
    <% if current_user == @user%>
      <ul class="nav">
        <li>
        <%= link_to views_and_likes_path, remote: true do %>
          <i class="material-icons">favorite</i>
          <span><p>Activity</p></span>
          <% end %>
        </li>
        <li>
            <%= link_to edit_user_path, remote: true do %>
              <i class="material-icons">perm_identity</i>
              <span><p>Edit User Info</p></span>
            <% end %>
        </li>
        <li>
          <%= link_to edit_password_path, remote: true do %>
            <i class="material-icons">lock_open</i>
            <span><p>Edit Password</p></span>
            <% end %>
        </li>
      </ul>
    <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
        <div class="alert"><%= flash[:notice] %></div>
    <% end %>
    <div class="m_p">
      <div id="user_forms">
          <%= render "settings/partials/views_and_likes", locals: {user: @user} %>
      </div>              
    </div>
    <% end %>
  </div>
</body>