<div class= "c_p">
    <% @all.each do |person| %>
            
                    <%= link_to profile_path(person.user_name), class: "p_card" do %>
                        <div class="avatar">
                            <%= image_tag person.avatar.url(:medium) %>
                        </div>
                        <div class="info_items">
                            <ul>
                                <li>
                                    <h2><%= person.first_name %></h2>
                                </li>
                                <li>
                                
                                    <h2><%= person.age %></h2>
                                </li>
                                <li>
                                    <h3><%= person.user_name %></h3>
                                </li>
                                <li>
                                    <%= person.gender %>
                                </li>
                                <li>
                                    <p>Rating: <%= person.round_num %></p>
                                </li>
                            </ul>   
                        </div>
                    <% end %>
            
    <% end %>
</div>