<div class="form_edit">
      <h1> Change Password </h1>
      <%= form_for @user, url: update_password_path,  html: {class: "form_"} do |f| %>
            
            <%= f.label "Old Password", class: 'l_form' %>
            <br>
            <%= f.password_field :current_password, class: 'form_c' %>
           
            <%= f.label "New Password", class: 'l_form' %>
            <%= f.password_field :new_password, class: 'form_c' %>
            <br>
            <%= f.submit "Change Password", class: 'f_s_b' %>
                  
      <% end %>
</div>